@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";


@layer utilities {
    .script-form-input {
        @apply input w-auto outline outline-offset-[unset];
    }

    .menu-button {
        @apply btn btn-lg btn-circle btn-primary;
    }

    .menu-speed-dial-btn {
        @apply btn btn-lg btn-circle;
    }

    .menu-fab {
        @apply fab fixed bottom-[unset] top-[1rem] flex-col;
    }

    .fab-display-errors-btn {
        @apply btn btn-lg btn-circle btn-error hidden;
    }

    .sort-errors-button {
        @apply btn btn-sm btn-circle btn-ghost m-1;
    }

    .filter-errors-button {
        @apply btn btn-sm btn-circle btn-ghost m-1;
    }

    .sort-errors-dropdown-content {
        @apply menu bg-base-100 rounded-box z-1 w-30 p-2 shadow-sm;
    }

    .filter-errors-dropdown-content {
        @apply bg-base-100 rounded-box z-1 p-2 shadow-sm;
    }

    .modal-box-h3 {
        @apply font-bold text-lg text-center;
    }

    .modal-confirmation-form {
        @apply flex justify-center p-4 gap-4;
    }

    .option-lable {
        @apply label cursor-pointer grid grid-cols-10;
    }

    .option-lable-text {
        @apply pr-2 col-span-9;
    }

    .option-checkbox {
        @apply checkbox checkbox-primary justify-self-end;
    }

    .script-container-div {
        @apply inline-flex place-items-center w-full p-4 gap-4;
    }

    .script-buttons-div {
        @apply flex place-items-center gap-4;
    }

    .script-button {
        @apply btn btn-accent m-auto;
    }

    .script-collapse {
        @apply collapse collapse-arrow bg-base-100 border-base-300 border w-3/4;
    }

    .script-collapse-wrap {
        @apply whitespace-pre-wrap break-all;
    }

    .script-error-alert {
        @apply alert alert-error alert-outline inline-flex w-full relative;
    }

    .error-dismiss-btn {
        @apply btn btn-sm btn-circle btn-ghost absolute right-1 top-1;
    }
}
