@font-face {
    font-family: "Fira Code Nerd Font";
    src: url("fonts/FiraCodeNerdFont-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Fira Code Nerd Font", sans-serif;
}
